.has-background h1,
.has-background h2,
.has-background h3,
.has-background h4,
.has-background p {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.has-green-background-color {
  color: #fff !important;
}

img {
  border: 0;
}

.has-green-500-background-color {
  background: #4d9d34;
}

.editor-styles-wrapper .wp-block-paragraph {
  line-height: 1.4;
}

.editor-styles-wrapper .wp-block-paragraph a {
  text-decoration: underline;
}

.wp-block-buttons {
  max-width: 840px;
}

.editor-post-featured-image__container img {
  margin-left: 0px;
}