.contacts-block {
  @apply max-w-text mx-auto mt-16;

  .contacts {
    @apply flex flex-row flex-wrap ml-4;

    .contact-person {
      @apply mr-4;
      flex: 1 1 180px;

      .image-wrapper {
        @apply mb-4 relative; 
        
        padding-bottom: 100%;
      }

      .contact-image {
        @apply absolute top-0 bottom-0 left-0 right-0 w-full h-full object-cover object-top;
      }

      p,
      h3 {
        @apply px-0;
      }

    }
  }
}
